:root {
  --Grayishblue: hsl(237, 18%, 59%);
  --Softred: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Darkdesaturatedblue: hsl(236, 21%, 26%);
  --Verydarkblue: hsl(235, 16%, 14%);
  --Extremelydarkblue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--Verydarkblue);
  background-image: url("./images/bg-stars.svg"),
    url("./images/pattern-hills.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--White);
  letter-spacing: 0.2rem;
}

h3 {
  margin: 1rem 0;
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--Grayishblue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.clock {
  display: flex;
}

.time {
  margin: 1rem;
  text-align: center;
}

.ticker {
  width: 5rem;
  padding: 1rem 1rem;
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: black;
  color: var(--Softred);
  box-shadow: 0 0.5rem 2px -2px var(--Extremelydarkblue);
  z-index: 0;
  transition: transform 0.3s ease-in;
  transform-style: preserve-3d;
}

.ticker-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-radius: inherit;
  background-color: var(--Darkdesaturatedblue);
  opacity: 0.85;
  z-index: 1;
}

.ticker-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-radius: inherit;
  background-color: var(--Darkdesaturatedblue);
  z-index: -1;
}

.ticker.flip {
  transform: rotateX(90deg);
}

.socials a {
  padding: 1rem;
  text-decoration: none;
}

.socials object {
  cursor: pointer;
  fill: var(--Softred);
}

.attribution {
  margin: 0.5rem;
  color: var(--Grayishblue);
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--White);
}
